S3method(plot, prisma)
S3method(print, prisma)
S3method(plot, prismaDimension)
S3method(print, prismaDimension)
S3method(plot, prismaMF)
export(prismaHclust, prismaDuplicatePCA, prismaNMF, loadPrismaData, getDuplicateData, corpusToPrisma, estimateDimension, plot.prisma, print.prisma, plot.prismaDimension, print.prismaDimension, plot.prismaMF, getMatrixFactorizationLabels)
import(Matrix, gplots, ggplot2)
importFrom("grDevices", "gray")
importFrom("methods", "new")
importFrom("stats", "as.dendrogram", "cutree", "dist", "hclust", "p.adjust", "pnorm", "prcomp", "qnorm", "rnorm", "var")
importFrom("utils", "packageVersion", "read.table")
